autopep8==1.5.4
django-appconf==1.0.4
django-axes==5.7.1
django-crispy-forms==1.9.2
django-summernote==0.8.11.6
flake8==3.8.4
gunicorn==20.0.4
mypy==0.782
mysqlclient==2.0.1
pillow==7.2.0
pip-chill==1.0.0
pylint==2.6.0
requests==2.24.0
