{% load static %}
<div class="gap"></div>
<footer class="bg-primary text-light footer">
    <div class="container navbar-dark pt-3">
        <div class="row">
            <div class="col">
                <p class="text-left">Powered by Django</p>
            </div>
            <div class="col">
                <p class="text-right">Por Otávio Miranda</p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
